/***** Main menu styling *****/
.main-nav {
    background-color: #E9EAEC; /* pewter*/
  }

  .main-nav a {
    color: #870A30;         /* burgundy */
  }

  .main-nav ul {
    list-style-type: none;  /* Hide the bullets */
    display: flex;          /* Arrange horizontally, not vertically */
  }

  .main-nav li {
    padding: 1em 2em;           /* Add a little space around each link */
  }

  .main-nav .active {
    background-color: #870A30;  /* burgundy, same as link color */
  }

  .main-nav .active a {
    color: #E9EAEC;            /* pewter, same as navbar */
  }

  .page {
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    width: 600px;
    margin: 0 auto;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section head {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    body {
      background-color: #E9EAEC; /* Red */
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #E9EAEC; /* Yellow */
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      background-color: #E9EAEC; /* Blue */
    }
  }